html, body {height: 100%; }

.highlight(blue, @white);

body {
  font-family: @copy;
  color: @mainTextColor;
  font-size: 18px; 
  font-weight: @light;
  background-color: @white;
}


img {
  max-width: 100%;
  height: auto;
}